services:
  audioscribe:
    container_name: audioscribe
    build:
      dockerfile: ./docker/dev/Dockerfile
      context: ./
    volumes:
      - ./:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3000:3000"
